.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.toystory img{
  max-height: 35vh;
  overflow:hidden;
}
.avaliacao{
  background-color: #3880ff;
  color:  #ffffff;
}
.espacar{
  display: flex;
  justify-content: space-around;
}
.generos{
  padding-left: 5%;
  color: #3880ff;
}
